* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.App{
  box-sizing: border-box;

}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.058);
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}

.nav-item > b {
  font-weight: 800;
}

.nav-item > p {
  font-weight: 600;
}

/* input */

input {
  font-weight: 600;
  box-sizing: border-box;
  font-weight: 500;
  width: 100%;
  padding: 1rem;
  padding-left: 4.3rem;
  margin: 2rem 0rem;
  background: transparent;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.051);
  border-radius: 10px;
  border: none;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 30px center;
}
input[type="search"]::placeholder {
  color: #bbb;
  font-weight: 600;
}
input[type="search"]:focus {
  border-color: #1183d6;
  outline: 2px solid #4ab3ff;
}
/* container */

.container {
  padding: 0 1rem;
}

/* dropdown */
.region {
  /* position: relative;
  z-index: 2; */

  font-weight: 600;

  width: 13rem;
  text-align: left;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  background-color: #ffffff; /* Green */
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.053);
}

.region:focus {
  border-color: #1183d6;
}
/* region */

ul {
  margin-top: 0.5rem;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.051);
  width: 13rem;
  box-sizing: border-box;
}

li {
  cursor: pointer;
  list-style: none;
  font-size: 0.9rem;
  font-weight: 600;
}
li:active {
  color: #1183d6;
}


/* cards */
.card-container{
  display: grid;
  gap: 2.2rem;
grid-template-columns: 1fr;
grid-template-rows: repeat(8, 1fr);

box-sizing: border-box;
width:100%; 
padding: 0rem 3rem 2rem 3rem;


}

.card{
  cursor: pointer;
position: relative;
top: 2.2rem;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.051);
box-sizing: border-box; 
display:flex;
flex-direction: column;
border-radius: 1rem;
width:100%; 
}
.card>img{
  width: 100%;
box-sizing: border-box;

  border-radius:1rem 1rem 0rem 0rem;
}

.row{
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0rem 0 0;
}

.card-info{
  padding: 2rem 2rem 3rem 2rem;
}

.desc{
  margin-right: 0.3rem;
}

/* title */
.title{
  font-size: 1.5rem;
  font-weight: 1000;
  margin: 0.5rem 0rem 1rem 0rem;
  
}

/* media query */
@media only screen and (min-width: 650px)  {
  .card-container{
  grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);


  }
}

@media only screen and (min-width: 800px)  {
  .card-container{
  grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);



}
/* change filter region position and input */
.container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.region{
  height: fit-content;
}

.filter-list{
  right: 1rem;
  margin-top: 13rem;
}

.search-bar, form{
  width: 60%;
}

input{
  width: 100%;
}
}
@media only screen and (min-width: 1000px)  {
  .card-container{
  grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;

  }
}

/* darkmode */

/* 1 */
:root {
  --font-color: #333;
  --background-color: rgb(255, 255, 255);
}

/* 2 */
[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #212C34;
  --link-color: lightblue;
}

/* 3 */
body {
  background-color: var(--background-color);
  color: var(--font-color);
}


